<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon> local_hospital</mat-icon>
  </button>
  <span>Blood bank</span>
  <span class="example-spacer"></span>
  <div class="example-button-container">
    <button mat-mini-fab class="mat-mini-fab" matTooltip="Account info" >
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-mini-fab class="mat-mini-fab" matTooltip="Add center" >
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-toolbar>s

