.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  background-color: #222831;
  color: #eeeeee;
}

.mat-mini-fab {
  margin: 6px;
  background-color: #00ADB5;
  color: #eeeeee;
}

.login-button {
  margin-left: 26px;
}

.mat-raised-button {
  margin-left: 8px;
}


