<mat-toolbar>

  <button style="font-size: 20px; background-color: transparent; color: white;" (click)="openHome()" mat-flat-button class="example\-icon" aria-label="Example icon-button with menu icon">
    <mat-icon> local_hospital</mat-icon>  <span>Blood bank</span>
  </button>
  <li class="items">
    <ul>
      <button *ngIf="isRegisteredUser()" style="font-size: 14px; background-color: transparent; color: white; padding: 0;" (click)="AddUserAppointment()" mat-flat-button class="example\-icon" aria-label="Example icon-button with menu icon">
          <span>Schedule an appointment</span>
      </button>
    </ul>
    <ul>
      <button *ngIf="isRegisteredUser()" style="font-size: 14px; background-color: transparent; color: white; padding: 0;" (click)="UserAppointments()" mat-flat-button class="example\-icon" aria-label="Example icon-button with menu icon">
        <span>My appointments</span>
      </button>
    </ul>
  </li>
  <span class="example-spacer"></span>
  <div class="example-button-container">
    <button mat-mini-fab class="mat-mini-fab" *ngIf="isStaff()" matTooltip="Add center appointment" (click)="AddAppointment()">
      <mat-icon>assignment_add</mat-icon>
    </button>
    <button mat-mini-fab class="mat-mini-fab" *ngIf="isRegisteredUser()" matTooltip="Fill out a poll" (click)="openDialogCreatePoll()" >
      <mat-icon>add_comment</mat-icon>
    </button>
    <button mat-mini-fab class="mat-mini-fab" *ngIf="isRegisteredUser()" matTooltip="Account info" (click)="AccountInfo()">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-mini-fab class="mat-mini-fab" *ngIf="isAdmin()" (click)="addCenter()" matTooltip="Add center" >
      <mat-icon>add</mat-icon>
    </button>

    <button  *ngIf="!isLoggedIn" mat-raised-button color="primary" class="login-button" (click)="openLogin()">Log in</button>
    <button  *ngIf="!isLoggedIn" mat-raised-button color="primary" class="mat-raised-button" (click)="openRegistration()" mat-dialog-close>Sign up</button>
    <button  *ngIf="isLoggedIn" mat-raised-button color="primary" class="mat-raised-button" (click)="signOut()" mat-dialog-close>Sign out</button>

  </div>
</mat-toolbar>

