.example-spacer {
  flex: 1 1 auto;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

mat-toolbar {
  background-color: #222831;
  color: #eeeeee;
  margin: 0;
}

.mat-mini-fab {
  margin: 6px;
  background-color: #00ADB5;
  color: #eeeeee;
}

.login-button {
  margin-left: 26px;
}

.mat-raised-button {
  margin-left: 8px;
}





