<div>
</div>
<div class="wrapper" >
  <div class="h2">
    <div class="title-edit">
      <h2>Personal profile</h2>
      <mat-icon (click)="editProfile()">edit</mat-icon>
    </div>
  </div>
  <p>
    <mat-form-field class="mat-form-field" color="primary"><b> Name: </b></mat-form-field>
    <mat-form-field class="mat-form-field" color="primary"> {{registeredUser?.firstName}} </mat-form-field>
    <mat-form-field class="mat-form-field" color="primary"><b> Username: </b></mat-form-field>
    <mat-form-field class="mat-form-field" color="primary"> {{registeredUser?.username}} </mat-form-field>
    <mat-form-field class="mat-form-field" color="primary"><b> Points: </b></mat-form-field>
    <mat-form-field class="mat-form-field" color="primary"> {{registeredUser?.points}} </mat-form-field>
  </p>
  <p>
    <mat-form-field class="mat-form-field" color="primary"><b> Surname: </b></mat-form-field>
    <mat-form-field class="mat-form-field" color="primary"> {{registeredUser?.lastName}} </mat-form-field>
    <mat-form-field class="mat-form-field" color="primary"><b> E-mail: </b></mat-form-field>
    <mat-form-field class="mat-form-field" color="primary"> {{registeredUser?.email}} </mat-form-field>
    <mat-form-field class="mat-form-field" color="primary"><b> Loyalty status: </b></mat-form-field>
    <mat-form-field class="mat-form-field" color="primary"> {{registeredUser?.loyaltyCard}} </mat-form-field>
  </p><p>
  <mat-form-field class="mat-form-field" color="primary"><b> Gender: </b></mat-form-field>
  <mat-form-field class="mat-form-field" color="primary"> {{registeredUser?.gender}} </mat-form-field>
  <mat-form-field class="mat-form-field" color="primary"><b> Phone number: </b></mat-form-field>
  <mat-form-field class="mat-form-field" color="primary"> {{registeredUser?.phoneNumber}} </mat-form-field>
</p><p>
  <mat-form-field class="mat-form-field" color="primary"><b> Umcn: </b></mat-form-field>
  <mat-form-field class="mat-form-field" color="primary"> {{registeredUser?.umcn}} </mat-form-field>
  <mat-form-field class="mat-form-field" color="primary"><b> Institution: </b></mat-form-field>
  <mat-form-field class="mat-form-field" color="primary"> {{registeredUser?.institution}} </mat-form-field>
</p>
  <p>
    <mat-form-field class="mat-form-field" color="primary"><b> Address: </b></mat-form-field>
    <mat-form-field class="mat-form-field" color="primary"> {{registeredUser?.address?.street}} {{registeredUser?.address?.number}},
      {{registeredUser?.address?.city}}, {{registeredUser?.address?.postalCode}}
      {{registeredUser?.address?.country}}</mat-form-field>
  </p>
</div>

