.wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 50px;
}

.mat-form-field {
  padding: 10px;
  margin-right: min(50px, 20%);
  font-size: 15px;
}

.h2 {
  padding-left: 10px;
}

.title-edit {
  display: flex;
  flex-direction: row;
}
