<div class="wrapper">
  <h1 mat-dialog-title class="mat-dialog-title">Sign up</h1>
  <div  style="font-size: 11px">
    <form [formGroup]="loginForm" (ngSubmit)="signIn()">
      <div class="title-container">
        <h1>Sign in</h1>
        <span>or use your account</span>
      </div>
      <input type="text" placeholder="Email"  name="userId" formControlName="email"/>
      <input type="password" placeholder="Password" formControlName="password"/>
      <a href="#">Forgot your password?</a>
      <button type="submit">Sign In</button>
    </form>

  </div>
</div>

