<div>
</div>
<div class="wrapper" >
  <div class="h2">
    <h2>Center profile</h2>
  </div>
  <p>
    <mat-form-field class="mat-form-field" color="primary"> Name: </mat-form-field>
    <mat-form-field class="mat-form-field" color="primary"> {{center?.name}} </mat-form-field>
  <p>  
    <mat-form-field class="mat-form-field" color="primary"> Description: </mat-form-field>
    <mat-form-field class="mat-form-field" color="primary"> {{center?.description}} </mat-form-field>
  </p>
  <p>
    <mat-form-field class="mat-form-field" color="primary"> Average grade: </mat-form-field>
    <mat-form-field class="mat-form-field" color="primary"> {{center?.averageGrade}} </mat-form-field>
  </p>
  <p>
  <mat-form-field class="mat-form-field" color="primary"> Address: </mat-form-field>
  <mat-form-field class="mat-form-field" color="primary"> {{center?.address?.street}} {{center?.address?.number}},
    {{center?.address?.city}}, {{center?.address?.postalCode}}
    {{center?.address?.country}}</mat-form-field>
</p>
</div>