:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

  }
  
  /* .class1{
    position: left;
    flex-direction: column;
    display: contents;
    text-align: left;
    top: 45%;
    left: 55%;
  }

  .class2{
    position: right;
    flex-direction: column;
    display: contents;
    text-align: right;
    top: 45%;
    right: 55%;
  } */