.example-card {
  width: 16rem;
  display: flex;
  flex-direction: column;
  margin: 8px;
  border-radius: 1rem;
  padding: 1rem;
  height: 20rem;
}

mat-card-title {
  font-weight: bold;
}

mat-card-subtitle {
  margin-right: 2px;
}

mat-card-content {
  flex-grow: 1;
  overflow: auto;
}

mat-card-actions {
  display: flex;
  flex-direction: row;
}

.wrapper-btn {
  color: #00ADB5;
  margin-left: 6rem;
  margin-bottom: 1rem;
  align-self: end;
}

.but1 {
  margin-right: 5px;
}

.but2 {
  margin-left: 5px;
}

mat-card-header {
  margin-bottom: 30px;
  flex-shrink: 0;
}

.wrapper {
  display: flex;
  margin-top: 2rem;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  align-content: space-around;
}

.content {
  margin: 2rem;
}

.icon-display {
  color: #00ADB5;
  transform: translateY(20%);
}

.header-wrapper .mat-form-field + .mat-form-field {
  margin-left: 10px;
}

.title-edit {
  display: flex;
  flex-direction: row;
}
.linkovi{
  margin: 40px;
}
