<div *ngIf="center" class="main-div">
    <div class="div-column">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Name: </mat-label>
          <input matInput [(ngModel)]="center.name">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>Description: </mat-label>
          <input matInput [(ngModel)]="center.description">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>Street: </mat-label>
          <input matInput [(ngModel)]="center.address.street">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>Street number: </mat-label>
          <input matInput [(ngModel)]="center.address.number">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>City: </mat-label>
          <input matInput [(ngModel)]="center.address.city">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>Postal code: </mat-label>
          <input matInput [(ngModel)]="center.address.postalCode">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>Address country: </mat-label>
          <input matInput [(ngModel)]="center.address.country">
        </mat-form-field><br>
        <button mat-stroked-button (click)="updateCenter()">
          Submit
        </button>
      </p>
    </div>
  </div>
