<div *ngIf="staff" class="main-div">
    <div class="div-column">
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Name: </mat-label>
          <input matInput [(ngModel)]="staff.firstName">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>Surname: </mat-label>
          <input matInput [(ngModel)]="staff.lastName">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Gender: </mat-label>
          <input matInput [(ngModel)]="staff.gender">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>UMCN: </mat-label>
          <input matInput [(ngModel)]="staff.umcn">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Street: </mat-label>
          <input matInput [(ngModel)]="staff.address.street">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>Street number: </mat-label>
          <input matInput [(ngModel)]="staff.address.number">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>City: </mat-label>
          <input matInput [(ngModel)]="staff.address.city">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>Postal code: </mat-label>
          <input matInput [(ngModel)]="staff.address.postalCode">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>Address country: </mat-label>
          <input matInput [(ngModel)]="staff.address.country">
        </mat-form-field><br>
      </p>
    </div>
    <div>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Username: </mat-label>
          <input matInput [(ngModel)]="staff.username">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>E-mail: </mat-label>
          <input matInput [(ngModel)]="staff.email">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Phone number: </mat-label>
          <input matInput [(ngModel)]="staff.phoneNumber">
        </mat-form-field><br>
        <mat-form-field appearance="fill">
          <mat-label>Institution: </mat-label>
          <input matInput [(ngModel)]="staff.institution">
        </mat-form-field>
        <button mat-stroked-button (click)="updateStaff()">
          Submit
        </button>
      </p>
    </div>
  
  </div>
