.example-section {
  margin: 12px 0;
}

#feedbackArea {
  width: 346px;
}

.mat-dialog-title {
  font-width: bold;
}
.mat-dialog-title2 {
  font-width: bold;
}
.mat-dialog-content {
  width: 50%;
}
.dialogButton {
  margin: 4px;
  color: white;
}

.dialogButtonCancel {
  margin: 4px;
}
