<div>
</div>
<div class="wrapper" >
  <div class="h2">
    <h2>Staff profile</h2>
  </div>
  <p>
    <mat-form-field class="mat-form-field" color="primary"> Name: </mat-form-field>
    <mat-form-field class="mat-form-field" color="primary"> {{staff?.firstName}} </mat-form-field>
    <mat-form-field class="mat-form-field" color="primary"> Surname: </mat-form-field>
    <mat-form-field class="mat-form-field" color="primary"> {{staff?.lastName}} </mat-form-field>
    
  </p>
  <p>
    <mat-form-field class="mat-form-field" color="primary"> Username: </mat-form-field>
    <mat-form-field class="mat-form-field" color="primary"> {{staff?.username}} </mat-form-field>
    <mat-form-field class="mat-form-field" color="primary"> Password: </mat-form-field>
    <mat-form-field class="mat-form-field" color="primary"> {{staff?.password}} </mat-form-field>
  </p><p>
    <mat-form-field class="mat-form-field" color="primary"> E-mail: </mat-form-field>
    <mat-form-field class="mat-form-field" color="primary"> {{staff?.email}} </mat-form-field>
  <mat-form-field class="mat-form-field" color="primary"> Gender: </mat-form-field>
  <mat-form-field class="mat-form-field" color="primary"> {{staff?.gender}} </mat-form-field>
  
</p><p>
  <mat-form-field class="mat-form-field" color="primary"> Phone number: </mat-form-field>
  <mat-form-field class="mat-form-field" color="primary"> {{staff?.phoneNumber}} </mat-form-field>
  <mat-form-field class="mat-form-field" color="primary"> Umcn: </mat-form-field>
  <mat-form-field class="mat-form-field" color="primary"> {{staff?.umcn}} </mat-form-field>
 
</p>
<p>
  <mat-form-field class="mat-form-field" color="primary"> Institution: </mat-form-field>
  <mat-form-field class="mat-form-field" color="primary" hidden> {{staff?.institution}} </mat-form-field>
  <mat-form-field class="mat-form-field" color="primary"> Address: </mat-form-field>
  <mat-form-field class="mat-form-field" color="primary"> {{staff?.address?.street}} {{staff?.address?.number}},
    {{staff?.address?.city}}, {{staff?.address?.postalCode}}
    {{staff?.address?.country}}</mat-form-field>
</p>
</div>