<div>
  <div>
    <!-- <button mat-raised-button class="dugmence " color="primary" (click)="scheduleAppointment()" matStepperNext>Start
      appointment</button> -->
  </div>

  <!-- Activr div 0 - table -->
  <div *ngIf="(activeDiv == 0 )">



    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">


      <!-- firstName Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let element">{{element.registeredUserDTO.firstName}}</td>
      </ng-container>

      <!-- lastName Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let element">{{element.registeredUserDTO.lastName}}</td>
      </ng-container>

      <!-- dateTime Column -->
      <ng-container matColumnDef="dateTime">
        <th mat-header-cell *matHeaderCellDef>Date</th>
        <td mat-cell *matCellDef="let element">{{element.date | date:'short'}}</td>
      </ng-container>


      <!-- duration Column -->
      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef>Duration</th>
        <td mat-cell *matCellDef="let element">{{element.duration}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row (click)="clickedRows.add(row) && getSelectedRow(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)" *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <button mat-raised-button class="dugmence " color="primary" (click)="redirectToQuery1()"
      matStepperNext>Next</button>

  </div>

  <!-- Activr div 1 - Query 1 -->
  <div *ngIf="(activeDiv == 1 )">
    <section class="example-section">
      <mat-checkbox color="primary" labelPosition="after" class="example-margin" [(ngModel)]="checkedQ1">The user did not come for the
        examination</mat-checkbox>
    </section>

    <button mat-raised-button class="dugmence " color="primary" (click)="redirectToQuery2()"
      matStepperNext>Next</button>

  </div>

  <!-- Activr div 2 - Query 2 -->
  <div *ngIf="(activeDiv == 2 )">



    <p>
      
      Can the selected user, based on the results of the <b>poll</b>, donate blood?  {{this.canDonateBlood}}   </p>


     <br><br>

    <section class="example-section">
      <mat-checkbox color="primary" labelPosition="after" class="example-margin" [(ngModel)]="checkedQ2">The user does not meet the requirements
        for donating blood</mat-checkbox>
    </section>
    <button mat-raised-button class="dugmence " color="primary" (click)="redirectToForm()" matStepperNext>Next</button>

  </div>

    <!-- Activr div 3 - Form -->
    <div *ngIf="(activeDiv == 3 )">

      <div class="div-column">
        <p>
          <!-- <mat-form-field class="mat-form-field" color="primary"> Name: </mat-form-field>
          <mat-form-field class="mat-form-field" color="primary"> {{selectedAppointment.registeredUserDTO.name}} </mat-form-field>
          <mat-form-field class="mat-form-field" color="primary"> Surname: </mat-form-field>
          <mat-form-field class="mat-form-field" color="primary"> {{selectedAppointment.registeredUserDTO.lastName}} </mat-form-field>
         -->
<!-- 
          <mat-form-field appearance="fill">
            <mat-label>Gender: </mat-label>
            <input matInput>
          </mat-form-field><br>
          <mat-form-field appearance="fill">
            <mat-label>UMCN: </mat-label>
            <input matInput>
          </mat-form-field><br>-->
          <mat-form-field appearance="fill"> 
            <mat-label>Equipment: </mat-label>
            <input matInput [(ngModel)]="newAppointment.appointmentEquipment">
          </mat-form-field><br>
          <!-- <mat-form-field appearance="fill">
            <mat-label>Amount of blood: </mat-label>
            <input matInput [(ngModel)]="newAppointment.blood">
          </mat-form-field><br> -->
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea matInput [(ngModel)]="newAppointment.description"></textarea>
          </mat-form-field><br>
        </p>
      </div>
      
      <button mat-raised-button class="dugmence " color="primary" (click)="onSubmit()" matStepperNext>Submit</button>
  
    </div>

</div>